.search-width{
  margin-top: 2vh;
  width: 90vw;
  height: 10vh;
}

.space-between-label-input{
  padding-left: 1vw;
}

.spacing-search{
  margin-left: 1vw;
}

.search_label{
  color: $green;
  margin-right: 2px;
  margin-left: 2px;
}
