.search-width{
  height: 8vh;
}

.space-between-label-input{
  padding-left: 5px;
}

.spacing-search{
  margin-left: 5px;
}

.search_label{
  color: $green;
  margin-right: 2px;
  margin-left: 2px;
}
