body{
  color: $darkblue;
}

.work-area{
  width: 98vw;
  padding-left: 2vw;
  padding-right: 1vw;
}

.work-area-height{
  height: 80vh;
}

.effective-work-area-width{
  width: 96vw;
}

.effective-work-area-height{
  height: 75vh;
}

.effective-work-area-middle-height{
  height: 65vh;
}

.form-middle-component-area-height{
  height: 75vh;
}


.marging-top{
  margin-top: 1vh;
}

.double-marging-top{
 margin-top: 2vh;
}

.element-inline{
  display: inline-block;
}

.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//////////////////////////////////////////////////////
/// CSS style related to the top area of the index work area
//////////////////////////////////////////////////////

.work-area-features-height {
  height: 8vh;
}

.work-area-features {
  margin: 0 auto;
  width: 30vw;
}

.work-area-top-components {
  display: inline;
  position: absolute;
  height: 6vh;
  vertical-align: center;
}


//////////////////////////////////////////////////////
/// CSS style related to the middle of the work area
//////////////////////////////////////////////////////





.padding-right{
  padding-left: 1vw;
}

.left-small{
  vertical-align: top;
  width: 35vw;
}

.right-large{
  vertical-align: top;
  width: 60vw;
}

.element-margin-right{
  margin-right: 1vw;
}










