// CSS Class related to the middle area  

.element-inline {
  display: inline-block;
}

.area-border {
   border-style: solid;
   border-width: 5px;
   border-color: $green;
}

.left-small {
  vertical-align: top;
  width: 30vw;
}

.right-large {
  vertical-align: top;
  width: 60vw;
}

.element-margin-right {
  margin-right: 1vw;
}

.small-field {
  width: 6vw;
}
.medium-field {
  width: 14vw;
}

