.work-area{
  width: 98vw;
  padding-left: 2vw;
  padding-right: 1vw;
}

.work-area-components{
  width: 96vw;
}

.marging-top{
  margin-top: 1vh;
}

body{
  color: $darkblue;
}

.element-inline{
  display: inline-block;
}

//////////////////////////////////////////////////////
/// CSS style related to the top area of the work area
//////////////////////////////////////////////////////

.work-area-top {
  position: relative;
  height: 8vh;
}

.work-area-top-components {
  display: inline;
  position: absolute;
  height: 6vh;
  vertical-align: center;
}


//////////////////////////////////////////////////////
/// CSS style related to the middle of the work area
//////////////////////////////////////////////////////





.component-area-height{
  height: 70vh;
}

.padding-right{
  padding-left: 1vw;
}

.left-small{
  vertical-align: top;
  width: 32vw;
}

.right-large{
  vertical-align: top;
  width: 63vw;
}

.element-margin-right{
  margin-right: 1vw;
}


.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.bottom-form {
  margin: 0 auto;
  width: 30vw;
}






