.work-area-top {
  position: relative;
  height: 8vh;
}

.work-area-top-components {
  display: inline;
  position: absolute;
  height: 6vh;
  vertical-align: center;
}

.work-area-top-features {
  right: 10px;

}

.work-area-top-title {
  vertical-align: middle;
}


.work-area-top-features-feature {
  display: block;
  position: relative;
}

