.element-inline {
  display: inline-block;
}

.left-small {
  vertical-align: top;
  width: 30vw;
}

.right-large {
  vertical-align: top;
  width: 60vw;
}

.left-element-margin {
  margin-right: 1vw;
}


.small-field {
  width: 6vw;
}
.medium-field {
  width: 14vw;
}

