<!-- Comments tab of the log form --> 
<div role="tabpanel" class="tab-pane fade marging-top" id="log-comments">
	<div>

  		<!-- Left panel of the middle area -->
	  	<div class="left-small element-inline component-area-height padding-right " >
	  	</div>

  		<!-- Right panel of the middle area -->
	  	<div class="right-large element-inline component-area-height padding-right">
	  	</div> 
	</div>
</div>