<div class="form-inline">

  <!-- Feature to create a new log -->
  <div class="form-group spacing-search">
    <%= link_to new_log_path do %>
      <button type="button" name="New" class="btn btn-primary button-features">New</button>
    <% end %>
  </div>

  <!-- Feature to export the logs  -->
  <div class="form-group spacing-search">
    <%= link_to logs_path(format: "csv") do %>
      <button type="button" name="LogCSV" class="btn btn-default button-features">Export</button>
    <% end %>
  </div>

</div>





