<!-- Detailed form view in order to edit the current log -->
<div class="work-area work-area-height">

  <h2>Edit Log</h2>

  <div class="effective-work-area-width effective-work-area-height">
    <!-- Detailed form view in order to create the current log -->
    <%= render "log_form" %>
  </div>

</div>
