<!-- Detailed form view in order to edit the current log -->
<div class="work-area work-area-height">

  <h3>Edit Log</h3>

  <div class="effective-work-area-width effective-work-area-height double-marging-top">
    <!-- Detailed form view in order to edit the current log -->
    <%= render "log-form" %>
  </div>

</div>
