<div class="work-area work-area-height">

  <h2>Logs</h2>

  <div class="effective-work-area-width effective-work-area-height double-marging-top">

    <!-- Top of the work area for the logs index page -->
    <!-- Top of are there is the search area-->
    <div class="work-area-features-height">
      <%= render "logs-search" %>
    </div>

    <!-- Middle of the work area for the logs index page -->
    <!-- Displaying the list of logs-->
    <div class="effective-work-area-middle-height marging-top">
      <%= render "logs-list" %>
    </div>

  </div>

  <div class="work-area-features-height work-area-features marging-top">
    <%= render "logs-list-features" %>
  </div>

</div>
