<div class="work-area">
  <div class="work-area-top work-area-components">
    <div class="work-area-top-title work-area-top-components">
      <h2>Logs</h2>
    </div>
    <div class="work-area-top-features work-area-top-components ">
      <%= link_to new_log_path, class: 'work-area-top-features-feature' do %>
        <button type="button" name="New" class="btn action">New</button>
      <% end %>
    </div>
  </div>
  <div class="work-area-components">
    <%= render "logs-search" %>
    <%= render "logs-list" %>
  </div>
</div>
