<div class="work-area">
  <h2>Logs</h2>
  <div class="work-area-components">

    <!-- Top of the work area for the logs index page -->
    <!-- Top of are there are 2 components Title + Search area-->
    <div class="index-work-area-top">
      <%= render "logs-search" %>
    </div>


    <!-- Middle of the work area for the logs index page -->
    <!-- Displaying the list of logs-->
    <div class="work-area-components index-middle-component-area-height marging-top">
      <%= render "logs-list" %>
    </div>

    <div class="work-area-components marging-top">
      <%= render "logs-list-features" %>
    </div>


  </div>
</div>
