<div class="work-area">
  <h2>Logs</h2>
  <%= render "logs-search" %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <%= render "logs-list" %>
    </div>
  </div>
</div>
