<div class="work-area work-area-height">

  <h2>New Log</h2>

  <div class="effective-work-area-width effective-work-area-height double-marging-top">
    <!-- Detailed form view in order to create the current log -->
    <%= render "log-form" %>
  </div>

</div>


