<div class="work-area">
  <h2>New log </h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= render "log-form" %>
      </div>
    </div>
  </div>
</div>
