<div class="work-area">
  <div class="work-area-top work-area-components">
    <div class="work-area-top-title work-area-top-components">
      <h2>Log</h2>
    </div>
  </div>
  <div class="work-area-components">
    <%= render "log-form" %>
  </div>
</div>
